<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bullhorn Messages</title>
    <meta charset="UTF-8"/>
    <title>Bullhorn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../static/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom: 0rem" >
    <h1 class="display-4">Bullhorn</h1>
    <p class="lead">The Twitter Killer</p>
</div>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <table class="table table-dark table-hover">
        <tr>
            <th>Message</th>
            <th>Content</th>
            <th>Posted Date</th>
            <th>Sent By</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        <tr th:each="bullhorn : ${bullhorns}">
            <td th:text="${bullhorn.message}"></td>
            <td th:text="${bullhorn.content}"></td>
            <td th:text="${bullhorn.posteddate}"></td>
            <td th:text="${bullhorn.sentby}"></td>
            <td th:if="${bullhorn.headshot} != null">
                <img th:src="${bullhorn.headshot}"/>
                <hr/>
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Bullhorn Operations
                </button>
                    <div class="dropdown-menu">
                        <a th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a><br/>
                        <a th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a><br/>
                        <a th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a><br/>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div th:replace="base :: footer"></div>

<!-- JavaScript files -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
</body>
</html>